{% extends "layout.html" %}
{% block content %}
<main class="container pt-5">
  <br><br>  
    <blockquote class="blockquote text-center border-bottom">
       <h2 class="mb-0 " style="font-family: Papyrus; font-weight: 700">MENU</h2>
        <footer class="blockquote-footer"><i>It's okay to eat a whole pizza by yourself </i></footer>
      </blockquote>
  <div class="row pt-3 pb-2 ">
    <div class="col"> 
      <div class="card" style="width: 14rem;">
        <img src="/static/images/veggiee.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Veggie Pizza</h5>
          <p class="card-text text-secondary pb-2"><small>A medley of fresh green peppers, onion, tomatoes, mushrooms, and olives.<br><br></small></p>
          <a href="/order" class="btn btn-dark">Order</a>
        </div>
      </div>
    </div>

    <div class="col"> 
      <div class="card" style="width: 14rem;">
        <img src="/static/images/bbq_chicken.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BBQ Chicken Pizza</h5>
          <p class="card-text text-secondary pb-2"><small>Smothered in flavorful BBQ sauce and loaded with chicken, bacon, onions, green peppers and cheddar cheese.</small></p>
        <a href="/order" class="btn btn-dark" >Order</a>
        </div>
      </div>
    </div>

    <div class="col"> 
      <div class="card" style="width: 14rem;">
        <img src="/static/images/hawaiian.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hawaiian Pizza</h5>
          <p class="card-text text-secondary pb-2"><small>A medley of fresh green peppers, onion, tomatoes, mushrooms, and olives.<br><br></small></p>
        <a href="/order" class="btn btn-dark">Order</a>
        </div>
      </div>
    </div>

    <div class="col"> 
      <div class="card" style="width: 14rem;">
        <img src="/static/images/pepperoni2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pepperoni Pizza</h5>
          <p class="card-text text-secondary pb-2"><small>Lots and lots of pepperoni topped with an extra layer of cheese.<br><br></small></p>
          <a href="/order" class="btn btn-dark">Order</a>
        </div>
      </div>
    </div>
  </div>

  
<div class="row pt-3 pb-2">

    <div class="col">
      <div class="card" style="width: 14rem;">
        <img src="/static/images/pepperoni2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pepperoni Pizza</h5>
          <p class="card-text text-secondary pb-2"><small>Lots and lots of pepperoni topped with an extra layer of cheese.<br><br></small></p>
          <a href="/order" class="btn btn-dark">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 14rem;">
        <img src="/static/images/Deluxe.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Deluxe Pizza</h5>
          <p class="card-text text-secondary pb-2"><small>Loads of pepperoni, fresh mushrooms, and smoked bacon, topped with a layer of premium mozzarella cheese.</small></p>
        <a href="/order" class="btn btn-dark">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 14rem;">
        <img src="/static/images/cbr.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CHK Bacon Ranch</h5>
          <p class="card-text text-secondary pb-2">
            <small>A Ranch Sauce base with a Mozzarella Cheese blend, fresh tomatoes, peppers, all white-meat chicken and bacon. </small></p>
        <a href="/order" class="btn btn-dark">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width: 14rem;">
          <img src="/static/images/cbr.jpg"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">CHK Bacon Ranch</h5>
            <p class="card-text text-secondary pb-2"><small>A Ranch Sauce base with a Mozzarella Cheese blend, fresh tomatoes, peppers, all white-meat chicken and bacon. </small></p>
          <a href="/order" class="btn btn-dark">Order</a>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
