{% extends "layout.html" %}
{% block content %}
<main class="container pt-5">
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thurday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>James</td>
      <td>Clarke</td>
      <td>Jim</td>
      <td>Brandon</td>
      <td>Jenifer</td>
    </tr>
    <tr>  
    <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>James</td>
      <td>Clarke</td>
      <td>Jim</td>
      <td>Brandon</td>
      <td>Jenifer</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>James</td>
      <td>Clarke</td>
      <td>Jim</td>
      <td>Brandon</td>
      <td>Jenifer</td>
    </tr>
  </tbody>
</table>
</main>
{% endblock %}
